.studentName{
  width: fit-content;
  width: -moz-fit-content;
}

.detailsButton{
  text-decoration: none;
  color: white;
}

.detailsButton:hover{
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.formBlock{
  width:49%;
}

.form{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.formBlock input{
  margin-right: 5px
}

.human,
.stats,
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

h1 {
  width:100%;
}

.login {
 padding: 1em;
}

.login img{
  width:100%;
}

.login input{
  width: 100%;
  margin: 0.2em
}

.human h4{
  width:100%;
}

.subHuman{
  width:33%;
  
}

.stats{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.stats div{
  width: 100%;
  text-align:center;
}

.feedback{
  width:49%;
  
}
span{
  color:purple
}

.btn {
  background-color: purple;
  border:none
}
.modalBtn{
  margin: 0.5em 0.5em;
}

.further{
  padding:1em 3em;
  
}

.next {
  width:100%;
  text-align: center;
  padding:3em;
}

.legend{
  padding-top:1em;
  font-size: 0.7em;
  font-style: italic;
  text-align:center;
}